<?xml version='1.0' encoding='utf-8'?>
<widget
  id="com.phonegap.helloworld"
  version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
  xmlns:gap="http://phonegap.com/ns/1.0">

    <name>linkFontAwsome</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>

    <flatform name="ios"/>
    <flatform name="android"/>
    <flatform name="winphone"/>

    <preference name="android-minSdkVersion" value="19"/>
    <preference name="android-maxSdkVersion" value="23"/>
    <preference name="android-targetSdkVersion" value="21"/>

    <content src="index.html" />
    <access origin="*" />
</widget>
