body{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  background-color: rgb(85, 121, 178);
}

#footer-text-color{
  font-size: 13px;
  color: #d0d8e5;
  margin-bottom: 0%;
}

.container{
  margin-bottom: 8%;
}
span{
  letter-spacing: 0.2em;
}

.form-container{
  margin: 5%;
  padding: 5%;
  max-width: 90%;
  background-color: rgb(237, 240, 244, .9);
  border-radius: 6px;
}

.btn-primary{
  text-align: center;
}

inpt.form-control{
  position: relative;
}

.contact-icon{
  position: relative;
  font-size: 1.5em;
}

ul{
  list-style-type: none;
}

li{
  margin:2%;
}

i{
  margin: 2%;
}

.button-down{
  background-color: rgb(48, 153, 62);
  border:0px;
  border-radius: 15px;
  position: absolute;
  width: 70%;
  height: 12%;
  padding-top: 8px!important;
  left:15%;
  right:15%;
  top: 94%;
}

.card-body{
  display: inline-block;
}

.card-title{
  font-weight: bold;
  font-size: 16px;
}
.card-text{
  font-size: 12px;
}

.fixed-icon{
  padding-top: 25%;
  padding-left: 15%;
  padding-right: 10px;
}

.custom-display{
  display: block!important;
  background-color: rgb(86, 88, 91,0.9);
  border-radius: 4px;
}

.col-sx-4{
  width: 33%;
}
.col-sx-2{
  width: 20%;
}
